* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  background-color: #232222;
  padding: 70px 0 120px;
  color: #fff;
  width: 100%;
}
section .mainhead {
  margin-bottom: 20px;
  padding-bottom: 80px;
  text-align: center;
}
section .mainhead h2 {
  display: inline-block;
  position: relative;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
section .mainhead h2 span {
  position: absolute;
  bottom: -19px;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #191919;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-box-shadow: 0 1px 25px 1px #231a1d;
          box-shadow: 0 1px 25px 1px #231a1d;
}
section .mainhead h2 span:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #cf9c63;
}
section .mainhead h2:before {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 38%;
  left: 0;
  height: 2px;
  background-color: #191919;
}
section .mainhead h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;
  width: 38%;
  height: 2px;
  background-color: #191919;
}

:root {
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@-webkit-keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}

@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 100px;
  -webkit-box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.3764705882);
          box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.3764705882);
}

.headcontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.headcontain .name a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
.headcontain .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.headcontain .navfordesk ul {
  margin: 0;
}
.headcontain .navfordesk ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 14px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .navfordesk ul a li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
}
.headcontain .navfordesk ul a .borderc {
  position: absolute;
  height: calc(100% + 5px);
  width: 100%;
}
.headcontain .navfordesk ul a .borderc:hover {
  -webkit-animation: headborder 0.6s;
          animation: headborder 0.6s;
  border-top: 4px double var(--subcolor-orange);
  border-bottom: 4px double var(--subcolor-orange);
  border-radius: 10px;
}
.headcontain .navfordesk ul a .borderc:hover ~ li {
  color: var(--subcolor-orange);
}
@media (max-width: 991px) {
  .headcontain .navfordesk ul a {
    padding: 11px;
  }
}
@media (max-width: 767px) {
  .headcontain .navfordesk {
    display: none;
  }
}
.headcontain .burger {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 7px 0;
  z-index: 2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .burger .bar {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.headcontain .burger .bar:nth-child(2) {
  margin: 6px 0;
}
@media (max-width: 767px) {
  .headcontain .burger {
    display: block;
  }
}
.headcontain .navformop {
  visibility: hidden;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 70px;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.headcontain .navformop .disablesubBLog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .disablesubBLog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .disablesubBLog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .disablesubBLog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .disablesubBLog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .disablesubBLog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .disablesubBLog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .disablesubBLog .downtoshowsub {
  top: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.headcontain .navformop .disablesubBLog .BLogmain {
  position: relative;
}
.headcontain .navformop .disablesubBLog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: -54px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li:last-child a {
  border: none;
}
.headcontain .navformop .enablesubBlog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .enablesubBlog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .enablesubBlog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .enablesubBlog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .enablesubBlog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .enablesubBlog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .enablesubBlog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .enablesubBlog .downtoshowsub {
  top: 104.8px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.headcontain .navformop .enablesubBlog .BLogmain {
  position: relative;
}
.headcontain .navformop .enablesubBlog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: 53px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
  background: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li:last-child a {
  border: none;
}

.menu-active .burger .bar:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.menu-active .burger .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-active .burger .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.landing {
  background: #292929;
  position: relative;
  padding: 140px 0 120px;
  background-size: cover;
  text-align: center;
}
.landing .container {
  position: relative;
  z-index: 2;
}
.landing .container .title-head h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 350px) {
  .landing .container .title-head h1 {
    font-size: 34px;
  }
}
.landing .container ul li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #fff;
}
.landing .container ul li a {
  color: #cf9c63;
  text-decoration: none;
}
.landing .container ul li a:after {
  content: "\f101";
  font-family: "FontAwesome";
  position: absolute;
  right: -5px;
  top: 3px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
}
.landing .container ul li:last-child {
  margin-right: 0px;
  padding-right: 0px;
}

footer {
  background-color: #232222;
  padding: 25px 0;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .allRight,
footer .Social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
footer .allRight {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
}
footer .allRight i {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 14px;
  position: relative;
  top: 1px;
}
footer .allRight a {
  color: #cf9c63;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-left: 4px;
}

.MyBlog {
  background-color: #2d2a2a;
  padding-top: 120px;
  padding-bottom: 90px;
  color: #bfbebe;
}
.MyBlog .content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.MyBlog .content .col4 {
  width: calc(33.3333% - 15px);
}
.MyBlog .content .col4 .leftcat {
  margin-bottom: 30px;
  padding: 35px 20px;
  background: #312f2f;
  border: 1px solid #3a3737;
}
.MyBlog .content .col4 .leftcat h6 {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
}
.MyBlog .content .col4 .categories ul {
  display: block;
  width: 100%;
}
.MyBlog .content .col4 .categories ul li {
  color: #cf9c63;
  font-size: 15px;
  margin-bottom: 25px;
  text-align: right;
}
.MyBlog .content .col4 .categories ul li:last-child {
  margin-bottom: 0;
}
.MyBlog .content .col4 .categories ul li a {
  float: left;
  color: #dedddc;
  font-size: 15px;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col4 .categories ul li a:hover {
  color: #cf9c63;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w:last-child {
  margin-bottom: 0px;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-image {
  width: 90px;
  height: 80px;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-image a {
  width: 100%;
  height: 100%;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-image a img {
  width: 100%;
  height: 100%;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data h4 {
  font-family: "Raleway", sans-serif;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data h4 a {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fbf4e0;
  font-weight: 600;
  margin: 0 0 4px;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data h4 a:hover {
  color: #cf9c63;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data span {
  font-size: 14px;
  color: #dedddc;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data span a {
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col4 .recent ul .thumbnail-post-w .widget-data span a:hover {
  color: #cf9c63;
}
.MyBlog .content .col4 .tags .tagcloud a {
  display: inline-block;
  background-color: transparent;
  color: #dedddc;
  font-size: 15px !important;
  padding: 9px 13.5px;
  border: 1px solid #3a3737;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col4 .tags .tagcloud a:hover {
  background-color: #cf9c63;
  color: #fff;
}
.MyBlog .content .col4 .search {
  padding: 0;
}
.MyBlog .content .col4 .search form {
  position: relative;
}
.MyBlog .content .col4 .search input {
  background-color: #312f2f;
  border: 1px solid #3a3737;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #9da1a5;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px;
  min-width: auto;
  vertical-align: middle;
  font-weight: 400;
  font-family: "Nunito";
  line-height: 1.9;
  letter-spacing: 0.5px;
}
.MyBlog .content .col4 .search button {
  position: absolute;
  bottom: 7px;
  right: 2%;
  width: 36px;
  height: 36px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  background: transparent;
  border: none;
  color: #cf9c63;
  cursor: pointer;
}
.MyBlog .content .col8 {
  width: calc(66.66666% - 15px);
}
.MyBlog .content .col8 .blog {
  border-right: 3px solid #312e2e;
  border-bottom: 3px solid #312e2e;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 25px 1px #231f21;
          box-shadow: 0 1px 25px 1px #231f21;
}
.MyBlog .content .col8 .blog .image {
  width: 100%;
  overflow: hidden;
}
.MyBlog .content .col8 .blog .image img {
  width: 100%;
}
.MyBlog .content .col8 .blog .post-content {
  padding: 20px;
  color: #bfbebe;
}
.MyBlog .content .col8 .blog .post-content .post-title a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0 0 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.MyBlog .content .col8 .blog .post-content .post-info {
  color: #bfbebe;
}
.MyBlog .content .col8 .blog .post-content .post-info li {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  color: #bfbebe;
}
.MyBlog .content .col8 .blog .post-content .post-info li i {
  margin-right: 2px;
}
.MyBlog .content .col8 .blog .post-content .post-info li a {
  display: inline-block;
  font-size: 12px;
  color: #bfbebe;
}
.MyBlog .content .col8 .blog .post-content .post-text blockquote {
  background: #312f2f;
  border-left: none;
  padding: 20px;
  margin: 0 0 20px;
  font-size: 15px;
  color: #bfbebe;
  line-height: 1.8;
}
.MyBlog .content .col8 .blog .post-content .post-text p {
  line-height: 1.8;
  margin-bottom: 10px;
  border-top: 1px solid #312e2e;
  font-size: 14px;
}
.MyBlog .content .col8 .blog .post-content .post-text p:first-of-type {
  padding-top: 15px;
  margin-top: 15px;
}
.MyBlog .content .col8 .blog .post-content .post-text p img {
  max-width: 100%;
}
.MyBlog .content .col8 .blog .post-footer {
  position: relative;
  padding: 20px;
  background-color: #232222;
  color: #bfbebe;
}
.MyBlog .content .col8 .blog .post-footer::before {
  content: "";
  position: absolute;
  bottom: 34.5px;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 4px;
  background-color: #2d2a2a;
}
.MyBlog .content .col8 .blog .post-footer a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.MyBlog .content .col8 .blog .post-footer .post-tags span {
  color: #dedddc;
  font-size: 15px;
  margin-right: 7px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: capitalize;
}
.MyBlog .content .col8 .blog .post-footer .post-tags a {
  display: inline-block;
  background-color: transparent;
  color: #dedddc;
  font-size: 15px;
  padding: 9px 13px;
  border: 1px solid #2b2a2a;
  margin-right: 5px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .blog .post-footer .post-tags a:hover {
  background: #cf9c63;
  color: #fff;
}
.MyBlog .content .col8 .blog .post-footer .post-categories {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  padding: 7px 15px;
  background-color: #2d2a2a;
  border-right: 2px solid #312e2e;
  border-bottom: 2px solid #312e2e;
  border-radius: 4px;
  text-align: center;
  color: #cf9c63;
  margin: 0;
  -webkit-box-shadow: 0 1px 25px 1px #231a1d;
  box-shadow: 0 1px 25px 1px #231a1d;
}
.MyBlog .content .col8 .blog .post-footer .post-categories li {
  text-align: center;
  color: #cf9c63;
}
.MyBlog .content .col8 .blog .post-footer .post-categories li a {
  color: #cf9c63;
  text-decoration: none;
  text-transform: capitalize;
}
@media (max-width: 400px) {
  .MyBlog .content .col8 .blog .post-footer::before {
    display: none;
  }
  .MyBlog .content .col8 .blog .post-footer .post-categories {
    display: none;
  }
}
.MyBlog .content .col8 .post-navigation {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.MyBlog .content .col8 .post-navigation a {
  background: transparent;
  border: 1px solid #383636;
  padding: 11px 30px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .post-navigation a:hover {
  background: #cf9c63;
  color: #fff;
}
@media (max-width: 370px) {
  .MyBlog .content .col8 .post-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .MyBlog .content .col8 .post-navigation a {
    font-size: 17px;
    margin-bottom: 10px;
    width: 160px;
  }
}
.MyBlog .content .col8 .comments {
  margin-top: 60px;
}
.MyBlog .content .col8 .comments .comments-count {
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
  font-family: "Raleway", sans-serif;
}
.MyBlog .content .col8 .comments .allcomments {
  margin-bottom: 10px;
}
.MyBlog .content .col8 .comments .allcomments .father {
  position: relative;
  margin-bottom: 35px;
}
.MyBlog .content .col8 .comments .allcomments .father .reply {
  position: absolute;
  top: 18px;
  right: 0;
  color: #cf9c63;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .comments .allcomments .father .reply a {
  color: #cf9c63;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .comments .allcomments .father .reply::before {
  content: "\f112";
  font-family: "FontAwesome";
  font-weight: 500;
  margin-right: 7px;
}
.MyBlog .content .col8 .comments .allcomments .father .reply:hover {
  color: #fff;
}
.MyBlog .content .col8 .comments .allcomments .father .reply:hover a {
  color: #fff;
}
.MyBlog .content .col8 .comments .allcomments .father .vcard {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyBlog .content .col8 .comments .allcomments .father .vcard img {
  border-radius: 50%;
  margin-right: 10px;
}
.MyBlog .content .col8 .comments .allcomments .father .vcard span {
  font-style: normal;
  line-height: 1.3;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 400px) {
  .MyBlog .content .col8 .comments .allcomments .father .vcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .MyBlog .content .col8 .comments .allcomments .father .vcard span {
    margin-top: 10px;
  }
}
.MyBlog .content .col8 .comments .allcomments .father .commentdate {
  display: inline-block;
  color: #dedddc;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}
.MyBlog .content .col8 .comments .allcomments .father p {
  font-size: 16px;
  color: #bfbebe;
  line-height: 1.6;
  margin-top: 8px;
}
.MyBlog .content .col8 .comments .allcomments .child {
  position: relative;
  margin-bottom: 35px;
  padding-left: 45px !important;
}
.MyBlog .content .col8 .comments .allcomments .child .vcard {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.MyBlog .content .col8 .comments .allcomments .child .vcard img {
  border-radius: 50%;
  margin-right: 10px;
}
.MyBlog .content .col8 .comments .allcomments .child .vcard span {
  font-style: normal;
  line-height: 1.3;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 400px) {
  .MyBlog .content .col8 .comments .allcomments .child .vcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .MyBlog .content .col8 .comments .allcomments .child .vcard span {
    margin-top: 10px;
  }
}
.MyBlog .content .col8 .comments .allcomments .child .reply {
  position: absolute;
  top: 18px;
  right: 0;
  color: #cf9c63;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .comments .allcomments .child .reply a {
  color: #cf9c63;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}
.MyBlog .content .col8 .comments .allcomments .child .reply::before {
  content: "\f112";
  font-family: "FontAwesome";
  font-weight: 500;
  margin-right: 7px;
}
.MyBlog .content .col8 .comments .allcomments .child .reply:hover {
  color: #fff;
}
.MyBlog .content .col8 .comments .allcomments .child .reply:hover a {
  color: #fff;
}
.MyBlog .content .col8 .comments .allcomments .child .commentdate {
  display: inline-block;
  color: #dedddc;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}
.MyBlog .content .col8 .comments .allcomments .child p {
  font-size: 16px;
  color: #bfbebe;
  line-height: 1.6;
  margin-top: 8px;
}
@media (max-width: 991px) {
  .MyBlog .content .col8 .comments {
    margin-bottom: 50px;
  }
}
.MyBlog .content .col8 .comment-respond {
  position: relative;
  margin-top: 60px;
}
.MyBlog .content .col8 .comment-respond h3 {
  font-size: 26px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
}
.MyBlog .content .col8 .comment-respond textarea {
  min-height: 200px;
  resize: vertical;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 46px;
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  line-height: normal;
  outline: none;
  text-align: center;
}
.MyBlog .content .col8 .comment-respond .nameandemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.MyBlog .content .col8 .comment-respond .nameandemail .name {
  padding: 0px 15px 0 0;
  width: 50%;
}
.MyBlog .content .col8 .comment-respond .nameandemail .name input {
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 46px;
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  line-height: normal;
  outline: none;
  text-align: center;
}
.MyBlog .content .col8 .comment-respond .nameandemail .email {
  width: 50%;
  padding: 0px 0 0 15px;
}
.MyBlog .content .col8 .comment-respond .nameandemail .email input {
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 46px;
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  line-height: normal;
  outline: none;
  text-align: center;
}
@media (max-width: 767px) {
  .MyBlog .content .col8 .comment-respond .nameandemail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .MyBlog .content .col8 .comment-respond .nameandemail .name {
    width: 100%;
    padding: 0;
  }
  .MyBlog .content .col8 .comment-respond .nameandemail .email {
    width: 100%;
    padding: 0;
  }
}
.MyBlog .content .col8 .comment-respond .website {
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 46px;
  padding: 12px;
  margin-bottom: 30px;
  width: 100%;
  line-height: normal;
  outline: none;
  text-align: center;
}
.MyBlog .content .col8 .comment-respond button {
  border: none;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 13px 16.5px;
  color: #fff;
  background-color: #cf9c63;
  margin-top: 0;
  overflow: hidden;
}
.MyBlog .content .col8 .comment-respond button span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 2;
}
.MyBlog .content .col8 .comment-respond button::before {
  background-color: #232222;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(45deg);
          transform: translate(-50%, -50%) scale(0) rotate(45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.MyBlog .content .col8 .comment-respond button:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(45deg);
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
}
.MyBlog .content .col8 .comment-respond button:hover span {
  position: relative;
  z-index: 2;
}
.MyBlog .content .col8 .page-numbers {
  text-align: center;
}
.MyBlog .content .col8 .page-numbers a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #3a3636;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  margin: 20px 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.MyBlog .content .col8 .page-numbers a.current {
  background: #cf9c63;
  color: #fff;
}
.MyBlog .content .col8 .page-numbers a:hover {
  background: #cf9c63;
  color: #fff;
}
@media (max-width: 991px) {
  .MyBlog .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .MyBlog .content .col4 {
    width: 100%;
  }
  .MyBlog .content .col8 {
    width: 100%;
  }
}