* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 3000px;
}
ul {
  list-style: none;
}
/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
}
// key frames
@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
// strat header
header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  transition: 0.6s;
  height: 100px;
}
.headcontain {
  .name {
    a {
      color: black;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 24px;
      color: white;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .links {
    ul {
      display: flex;
      gap: 5px;
    }
  }
  .navfordesk {
    ul {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 14px;
        position: relative;
        transition: 0.6s;
        li {
          transition: 0.4s;
          font-size: 14px;
          font-weight: 600;
        }
        .borderc {
          position: absolute;
          height: calc(100% + 5px);
          width: calc(100%);

          &:hover {
            animation: headborder 0.6s;
            border-top: 4px double var(--subcolor-orange);
            border-bottom: 4px double var(--subcolor-orange);
            border-radius: 10px;
            ~ li {
              color: var(--subcolor-orange);
            }
          }
        }
      }
      @media (max-width: 991px) {
        a {
          padding: 11px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .navfordesk {
      display: none;
    }
  }
  .burger {
    display: none;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 7px 0;
    z-index: 2;
    transition: 0.6s;

    .bar {
      transition: 0.6s;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }
    .bar:nth-child(2) {
      margin: 6px 0;
    }
  }
  @media (max-width: 767px) {
    .burger {
      display: block;
    }
  }

  .navformop {
    visibility: hidden;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 70px;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .disablesubBLog {
      position: relative;
      transition: 0.6s;
      left: -300px;
      background: var(--subcolor-balck);
      flex-direction: column;
      width: 265px;
      height: 100%;
      gap: 0;
      > li {
        z-index: 5;
        position: relative;
        display: block;
        a {
          padding: 17px 28px;
          display: block;
          border-top: 1px solid #343030;
          background-color: var(--subcolor-balck);
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.4s ease-in-out;
          position: relative;
          &:hover {
            background-color: #2d2a2a;
            color: #cf9c63;

            border-radius: 0;
            &::before {
              transform: scale(1);
            }
          }
          &::before {
            z-index: 2;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #cf9c63;

            transform: scale(0);

            transition: all 0.4s ease-in-out;
          }
        }
        &:last-child {
          a {
            border-bottom: 1px solid #343030;
          }
        }
      }
      .downtoshowsub {
        top: 0;
        transition: 0.6s ease-in-out;
      }
      .BLogmain {
        position: relative;
        > a {
          display: flex;
          justify-content: space-between;
          z-index: 4;
        }
        .submain-links {
          transition: 0.6s ease-in-out;
          top: -54px;
          z-index: 3;
          left: 0;
          height: auto;
          width: 100%;
          background-color: #2d2c2c;
          position: absolute;
          flex-direction: column;
          gap: 0;
          li {
            z-index: 3;
          }
          a {
            border: none;
            padding-left: 35px;
            font-weight: 400;
            &:hover {
              padding-left: 40px;
              color: #cf9c63;
              background-color: #2d2c2c;

              &::before {
                transform: scale(0);
              }
            }
          }
          li {
            &:last-child {
              a {
                border: none;
              }
            }
          }
        }
      }
    }
    .enablesubBlog {
      position: relative;
      transition: 0.6s;
      left: -300px;
      background: var(--subcolor-balck);
      flex-direction: column;
      width: 265px;
      height: 100%;
      gap: 0;
      > li {
        z-index: 5;
        position: relative;
        display: block;
        a {
          padding: 17px 28px;
          display: block;
          border-top: 1px solid #343030;
          background-color: var(--subcolor-balck);
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.4s ease-in-out;
          position: relative;
          &:hover {
            background-color: #2d2a2a;
            color: #cf9c63;

            border-radius: 0;
            &::before {
              transform: scale(1);
            }
          }
          &::before {
            z-index: 2;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #cf9c63;

            transform: scale(0);

            transition: all 0.4s ease-in-out;
          }
        }
        &:last-child {
          a {
            border-bottom: 1px solid #343030;
          }
        }
      }
      .downtoshowsub {
        top: 104.8px;
        transition: 0.7s ease-in-out;
      }
      .BLogmain {
        position: relative;
        > a {
          display: flex;
          justify-content: space-between;
          z-index: 4;
        }
        .submain-links {
          transition: 0.6s ease-in-out;
          top: 53px;
          z-index: 3;
          left: 0;
          height: auto;
          width: 100%;
          background-color: #2d2c2c;
          position: absolute;
          flex-direction: column;
          gap: 0;
          li {
            z-index: 3;
          }
          a {
            border: none;
            padding-left: 35px;
            font-weight: 400;
            background: #2d2c2c;
            &:hover {
              padding-left: 40px;
              color: #cf9c63;
              background-color: #2d2c2c;

              &::before {
                transform: scale(0);
              }
            }
          }
          li {
            &:last-child {
              a {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
.menu-active {
  .burger {
    .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(2) {
      transform: scale(0);
    }
    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../image/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .layout {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: calc(100%);
    top: 0;
  }

  .margcont {
    overflow: hidden;
  }

  .marg {
    top: 0;
    position: absolute;
    height: 100%;
    max-width: 100%;
    margin-left: 14vw;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .hi {
      color: #bfbebe;
      font-size: 23px;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;
    }
    .name {
      color: #fff;
      font-size: 87px;
      font-weight: 900;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 10px 0;
    }
    .iam {
      color: #bfbebe;
      font-size: 23px;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;
      .changedTiltle {
        color: #cf9c63;
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;

        letter-spacing: 2px;
        font-weight: 600;
        margin: 0;
      }
    }
    a {
      width: 130px;
      color: #fff;
      background-color: #cf9c63;
      z-index: 2;
      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      padding: 15px 16px;
      margin-top: 50px;

      span {
        position: relative;
        z-index: 2;
        transition: all 0.5s ease-in-out;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        z-index: 1;
        background-color: #232222;
        transform: translate(-50%, -50%) scale(0) rotate(45deg);
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        color: var(--subcolor-orange);
        &:before {
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
        }
      }
    }
    height: 100%;
  }
  @media (max-width: 991px) {
    .marg {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .marg {
      .name {
        font-size: 60px;
      }
    }
  }
  @media (max-width: 576px) {
    .marg {
      .name {
        font-size: 54px;
      }
      .iam {
        font-size: 19px;
        letter-spacing: 0;
      }
    }
  }
  .divider {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    .wave {
      width: 100%;
      height: auto;
      transform: scaleX(-1);
    }
  }
}
section {
  background-color: #232222;
  padding: 70px 0 120px;
  color: #fff;
  width: 100%;
  .mainhead {
    margin-bottom: 20px;
    padding-bottom: 80px;
    text-align: center;
    h2 {
      display: inline-block;
      position: relative;
      color: #fff;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Raleway", sans-serif;
      span {
        position: absolute;
        bottom: -19px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: #191919;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: 0 1px 25px 1px #231a1d;
        &:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 5px;
          height: 5px;
          background-color: #cf9c63;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -12px;
        width: 38%;
        left: 0;
        height: 2px;
        background-color: #191919;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -12px;
        right: 0;
        width: 38%;
        height: 2px;
        background-color: #191919;
      }
    }
  }
}

.about-me {
  .aboutme-content {
    .image {
      display: flex;
      justify-content: center;
      .about-image {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(5%, rgb(207, 156, 99)),
            to(#fff)
          );
          background: linear-gradient(
            to right,
            rgb(207, 156, 99) 5%,
            #fff 100%
          );
        }

        img {
          position: relative;
          border-radius: 6px;
          max-width: 350px;
          width: 100%;
          height: auto;
          vertical-align: middle;
          z-index: 5;
          top: 40px;
          left: 30px;
        }

        @media (max-width: 570px) {
          img {
            top: 0px;
            left: 0px;
          }
        }
      }
    }
    .ContentandText {
      position: relative;
      .about-info {
        margin-top: 40px;
        color: #bfbebe;
        h3 {
          color: #cf9c63;
          font-size: 20px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          letter-spacing: 1px;
          line-height: 0.75;
          margin: 0;
          margin-top: 45px;
        }
        h4 {
          margin-top: 10px;

          line-height: 1.3;
          margin-bottom: 30px;
          letter-spacing: 1px;
          color: #fff;
          font-size: 24px;
          font-weight: 600;
        }
        p {
          line-height: 1.8;
          margin-bottom: 10px;
          font-size: 13px;
        }
        p {
          font-size: 13px;
        }
        .personal-info {
          box-shadow: 0 1px 25px 1px #231a1d;
          margin-top: 30px;
          position: relative;
          border: 3px solid #272525;
          margin-right: 0;
          padding: 20px 15px;

          .info {
            ul {
              li {
                font-size: 12px;
                line-height: 3;
                position: relative;
                width: 100%;
                span {
                  margin-left: 0;
                  margin-right: 10px;
                  font-size: 13px;
                  font-weight: 600;
                }
              }
            }
          }
          .social-icons {
            position: static;
            text-align: center;
            margin-top: 14px;
            a {
              display: inline-block;
              width: 35px;
              height: 35px;
              line-height: 35px;
              margin-right: 14px;
              margin-bottom: 14px;
              box-shadow: 0 0 15px 0 #231a1d;
              text-align: center;
              background-color: #191919;
              color: #3a3c3c;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
