* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 3000px;
}

ul {
  list-style: none;
}

/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}

@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
header {
  position: fixed;
  z-index: 5;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 100px;
}

.headcontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.headcontain .name a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
.headcontain .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.headcontain .navfordesk ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 14px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .navfordesk ul a li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
}
.headcontain .navfordesk ul a .borderc {
  position: absolute;
  height: calc(100% + 5px);
  width: 100%;
}
.headcontain .navfordesk ul a .borderc:hover {
  -webkit-animation: headborder 0.6s;
          animation: headborder 0.6s;
  border-top: 4px double var(--subcolor-orange);
  border-bottom: 4px double var(--subcolor-orange);
  border-radius: 10px;
}
.headcontain .navfordesk ul a .borderc:hover ~ li {
  color: var(--subcolor-orange);
}
@media (max-width: 991px) {
  .headcontain .navfordesk ul a {
    padding: 11px;
  }
}
@media (max-width: 767px) {
  .headcontain .navfordesk {
    display: none;
  }
}
.headcontain .burger {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 7px 0;
  z-index: 2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .burger .bar {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.headcontain .burger .bar:nth-child(2) {
  margin: 6px 0;
}
@media (max-width: 767px) {
  .headcontain .burger {
    display: block;
  }
}
.headcontain .navformop {
  visibility: hidden;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 70px;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.headcontain .navformop .disablesubBLog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .disablesubBLog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .disablesubBLog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .disablesubBLog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .disablesubBLog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .disablesubBLog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .disablesubBLog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .disablesubBLog .downtoshowsub {
  top: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.headcontain .navformop .disablesubBLog .BLogmain {
  position: relative;
}
.headcontain .navformop .disablesubBLog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: -54px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li:last-child a {
  border: none;
}
.headcontain .navformop .enablesubBlog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .enablesubBlog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .enablesubBlog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .enablesubBlog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .enablesubBlog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .enablesubBlog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .enablesubBlog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .enablesubBlog .downtoshowsub {
  top: 104.8px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.headcontain .navformop .enablesubBlog .BLogmain {
  position: relative;
}
.headcontain .navformop .enablesubBlog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: 53px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
  background: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li:last-child a {
  border: none;
}

.menu-active .burger .bar:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.menu-active .burger .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-active .burger .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../image/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.landing .layout {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
.landing .margcont {
  overflow: hidden;
}
.landing .container {
  height: 100%;
}
.landing .container .marg {
  position: absolute;
  height: 100%;
  max-width: 100%;
  margin-left: 14vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing .container .marg .hi {
  color: #bfbebe;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .container .marg .name {
  color: #fff;
  font-size: 87px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 10px 0;
}
.landing .container .marg .iam {
  color: #bfbebe;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .container .marg .iam .changedTiltle {
  color: #cf9c63;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .container .marg a {
  width: 130px;
  color: #fff;
  background-color: #cf9c63;
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 16px;
  margin-top: 50px;
}
.landing .container .marg a span {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landing .container .marg a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-color: #232222;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(45deg);
          transform: translate(-50%, -50%) scale(0) rotate(45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landing .container .marg a:hover {
  color: var(--subcolor-orange);
}
.landing .container .marg a:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(45deg);
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
}