* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 3000px;
}
ul {
  list-style: none;
}
/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
}
// key frames
@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
// strat header
header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  transition: 0.6s;
  height: 100px;
  box-shadow: -1px -1px 20px 0px #00000060;
}
.headcontain {
  .name {
    a {
      color: black;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 24px;
      color: white;
    }
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .links {
    ul {
      display: flex;
      gap: 5px;
    }
  }
  .navfordesk {
    ul {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 14px;
        position: relative;
        transition: 0.6s;
        li {
          transition: 0.4s;
          font-size: 14px;
          font-weight: 600;
        }
        .borderc {
          position: absolute;
          height: calc(100% + 5px);
          width: calc(100%);

          &:hover {
            animation: headborder 0.6s;
            border-top: 4px double var(--subcolor-orange);
            border-bottom: 4px double var(--subcolor-orange);
            border-radius: 10px;
            ~ li {
              color: var(--subcolor-orange);
            }
          }
        }
      }
      @media (max-width: 991px) {
        a {
          padding: 11px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .navfordesk {
      display: none;
    }
  }
  .burger {
    display: none;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 7px 0;
    z-index: 2;
    transition: 0.6s;

    .bar {
      transition: 0.6s;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }
    .bar:nth-child(2) {
      margin: 6px 0;
    }
  }
  @media (max-width: 767px) {
    .burger {
      display: block;
    }
  }

  .navformop {
    visibility: hidden;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 70px;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    .disablesubBLog {
      position: relative;
      transition: 0.6s;
      left: -300px;
      background: var(--subcolor-balck);
      flex-direction: column;
      width: 265px;
      height: 100%;
      gap: 0;
      > li {
        z-index: 5;
        position: relative;
        display: block;
        a {
          padding: 17px 28px;
          display: block;
          border-top: 1px solid #343030;
          background-color: var(--subcolor-balck);
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.4s ease-in-out;
          position: relative;
          &:hover {
            background-color: #2d2a2a;
            color: #cf9c63;

            border-radius: 0;
            &::before {
              transform: scale(1);
            }
          }
          &::before {
            z-index: 2;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #cf9c63;

            transform: scale(0);

            transition: all 0.4s ease-in-out;
          }
        }
        &:last-child {
          a {
            border-bottom: 1px solid #343030;
          }
        }
      }
      .downtoshowsub {
        top: 0;
        transition: 0.6s ease-in-out;
      }
      .BLogmain {
        position: relative;
        > a {
          display: flex;
          justify-content: space-between;
          z-index: 4;
        }
        .submain-links {
          transition: 0.6s ease-in-out;
          top: -54px;
          z-index: 3;
          left: 0;
          height: auto;
          width: 100%;
          background-color: #2d2c2c;
          position: absolute;
          flex-direction: column;
          gap: 0;
          li {
            z-index: 3;
          }
          a {
            border: none;
            padding-left: 35px;
            font-weight: 400;
            &:hover {
              padding-left: 40px;
              color: #cf9c63;
              background-color: #2d2c2c;

              &::before {
                transform: scale(0);
              }
            }
          }
          li {
            &:last-child {
              a {
                border: none;
              }
            }
          }
        }
      }
    }
    .enablesubBlog {
      position: relative;
      transition: 0.6s;
      left: -300px;
      background: var(--subcolor-balck);
      flex-direction: column;
      width: 265px;
      height: 100%;
      gap: 0;
      > li {
        z-index: 5;
        position: relative;
        display: block;
        a {
          padding: 17px 28px;
          display: block;
          border-top: 1px solid #343030;
          background-color: var(--subcolor-balck);
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          transition: all 0.4s ease-in-out;
          position: relative;
          &:hover {
            background-color: #2d2a2a;
            color: #cf9c63;

            border-radius: 0;
            &::before {
              transform: scale(1);
            }
          }
          &::before {
            z-index: 2;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #cf9c63;

            transform: scale(0);

            transition: all 0.4s ease-in-out;
          }
        }
        &:last-child {
          a {
            border-bottom: 1px solid #343030;
          }
        }
      }
      .downtoshowsub {
        top: 104.8px;
        transition: 0.7s ease-in-out;
      }
      .BLogmain {
        position: relative;
        > a {
          display: flex;
          justify-content: space-between;
          z-index: 4;
        }
        .submain-links {
          transition: 0.6s ease-in-out;
          top: 53px;
          z-index: 3;
          left: 0;
          height: auto;
          width: 100%;
          background-color: #2d2c2c;
          position: absolute;
          flex-direction: column;
          gap: 0;
          li {
            z-index: 3;
          }
          a {
            border: none;
            padding-left: 35px;
            font-weight: 400;
            background: #2d2c2c;
            &:hover {
              padding-left: 40px;
              color: #cf9c63;
              background-color: #2d2c2c;

              &::before {
                transform: scale(0);
              }
            }
          }
          li {
            &:last-child {
              a {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
.menu-active {
  .burger {
    .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(2) {
      transform: scale(0);
    }
    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../image/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .layout {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: calc(100%);
    top: 0;
  }

  .margcont {
    overflow: hidden;
  }

  .marg {
    top: 0;
    position: absolute;
    height: 100%;
    max-width: 100%;
    margin-left: 14vw;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .hi {
      color: #bfbebe;
      font-size: 23px;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;
    }
    .name {
      color: #fff;
      font-size: 87px;
      font-weight: 900;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 10px 0;
    }
    .iam {
      color: #bfbebe;
      font-size: 23px;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;
      .changedTiltle {
        color: #cf9c63;
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;

        letter-spacing: 2px;
        font-weight: 600;
        margin: 0;
      }
    }
    a {
      width: 130px;
      color: #fff;
      background-color: #cf9c63;
      z-index: 2;
      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      padding: 15px 16px;
      margin-top: 50px;

      span {
        position: relative;
        z-index: 2;
        transition: all 0.5s ease-in-out;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        z-index: 1;
        background-color: #232222;
        transform: translate(-50%, -50%) scale(0) rotate(45deg);
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        color: var(--subcolor-orange);
        &:before {
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
        }
      }
    }
    height: 100%;
  }
  @media (max-width: 991px) {
    .marg {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .marg {
      .name {
        font-size: 60px;
      }
    }
  }
  @media (max-width: 576px) {
    .marg {
      .name {
        font-size: 54px;
      }
      .iam {
        font-size: 19px;
        letter-spacing: 0;
      }
    }
  }
  .divider {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    .wave {
      width: 100%;
      height: auto;
      transform: scaleX(-1);
    }
  }
}
section {
  background-color: #232222;
  padding: 70px 0 120px;
  color: #fff;
  width: 100%;
  .mainhead {
    margin-bottom: 20px;
    padding-bottom: 80px;
    text-align: center;
    h2 {
      display: inline-block;
      position: relative;
      color: #fff;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 30px;
      font-family: "Raleway", sans-serif;
      span {
        position: absolute;
        bottom: -19px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-color: #191919;
        transform: translateX(-50%) rotate(45deg);
        box-shadow: 0 1px 25px 1px #231a1d;
        &:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 5px;
          height: 5px;
          background-color: #cf9c63;
        }
      }
      &:before {
        content: "";
        position: absolute;
        bottom: -12px;
        width: 38%;
        left: 0;
        height: 2px;
        background-color: #191919;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -12px;
        right: 0;
        width: 38%;
        height: 2px;
        background-color: #191919;
      }
    }
  }
}

.about-me {
  .aboutme-content {
    .image {
      display: flex;
      justify-content: center;
      .about-image {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(5%, rgb(207, 156, 99)),
            to(#fff)
          );
          background: linear-gradient(
            to right,
            rgb(207, 156, 99) 5%,
            #fff 100%
          );
        }

        img {
          position: relative;
          border-radius: 6px;
          max-width: 350px;
          width: 100%;
          height: auto;
          vertical-align: middle;
          z-index: 5;
          top: 40px;
          left: 30px;
        }

        @media (max-width: 570px) {
          img {
            top: 0px;
            left: 0px;
          }
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .about-image {
          width: 100%;
          max-width: 500px;
          img {
            max-width: 500px;
          }
        }
      }
    }
    .ContentandText {
      position: relative;
      .about-info {
        margin-top: 40px;
        color: #bfbebe;
        h3 {
          color: #cf9c63;
          font-size: 20px;
          font-weight: 600;
          font-family: "Open Sans", sans-serif;
          letter-spacing: 1px;
          line-height: 0.75;
          margin: 0;
          margin-top: 45px;
        }
        h4 {
          margin-top: 10px;

          line-height: 1.3;
          margin-bottom: 30px;
          letter-spacing: 1px;
          color: #fff;
          font-size: 24px;
          font-weight: 600;
        }
        p {
          line-height: 1.8;
          margin-bottom: 10px;
          font-size: 13px;
        }
        p {
          font-size: 13px;
        }
        .personal-info {
          box-shadow: 0 1px 25px 1px #231a1d;
          margin-top: 30px;
          position: relative;
          border: 3px solid #272525;
          margin-right: 0;
          padding: 20px 15px;

          .info {
            ul {
              li {
                font-size: 12px;
                line-height: 3;
                position: relative;
                width: 100%;
                .point {
                  display: none;
                }
                span {
                  margin-left: 0;
                  margin-right: 10px;
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: 0.5px;

                  &.main-cat {
                    font-weight: 600;
                    font-size: 13px;
                    letter-spacing: 0px;
                  }
                }
              }
            }
            @media (min-width: 570px) {
              ul {
                display: flex;
                flex-wrap: wrap;
                li {
                  margin-left: 20px;
                  max-width: calc(50% - 20px);
                  .point {
                    display: block;
                    position: absolute;
                    left: -20px;
                    width: 15px;
                    height: 15px;
                    top: 50%;
                    background-color: #191919;
                    transform: translateX(-50%) translatey(-50%) rotate(45deg);
                    box-shadow: 0 1px 25px 1px #231a1d;
                    &::after {
                      content: "";
                      position: absolute;
                      top: 5px;
                      left: 5px;
                      width: 5px;
                      height: 5px;
                      background-color: #cf9c63;
                    }
                  }
                }
              }
            }
          }
          .social-icons {
            position: static;
            text-align: center;
            margin-top: 14px;
            a {
              display: inline-block;
              width: 35px;
              height: 35px;
              line-height: 35px;
              margin-right: 14px;
              margin-bottom: 14px;
              box-shadow: 0 0 15px 0 #231a1d;
              text-align: center;
              background-color: #191919;
              color: #3a3c3c;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.5s ease-in-out;
            }
            .face {
              &:hover {
                background-color: #3b5998;
                color: #fff;
              }
            }
            .twitter {
              &:hover {
                background-color: #1da1f2;
                color: #fff;
              }
            }
            .googleblus {
              &:hover {
                background-color: #db4437;
                color: #fff;
              }
            }
            .linked {
              &:hover {
                background-color: #0077b5;

                color: #fff;
              }
            }
            .behance {
              &:hover {
                background-color: #0057ff;
                color: #fff;
              }
            }
          }
          @media (min-width: 570px) {
            .social-icons {
              margin-top: 0px;
              position: absolute;
              display: flex;
              flex-direction: column;
              top: 50%;
              transform: translateY(-50%);
              right: -19px;
              a {
                display: block;
                width: 30px;
                height: 30px;
                margin-right: 0px;
                line-height: 31px;
                font-size: 15px;
                margin-bottom: 4px;
              }
            }
          }
        }
        @media (min-width: 570px) {
          .personal-info {
            padding: 33px 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .about-me {
    .aboutme-content {
      display: flex;
      gap: 60px;
      .image {
        width: 38%;
        height: 100%;
        .about-image {
          img {
            max-width: 500px;
          }
        }
      }
      .ContentandText {
        width: 62%;
      }
    }
  }
}

.MySkills {
  background-image: url(../image/skills.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;

  position: relative;
  .overlaySkills {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }

  .row {
    display: flex;
    gap: 30px;
    > div {
      width: 50%;
      > div {
        padding-top: 34px;
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        min-width: 50%;
        .precent {
          position: absolute;
          top: 0;
          left: -15px;
          display: inline-block;
          width: 30px;
          height: 20px;
          color: #cf9c63;
          background: #191919;
          text-align: center;
          line-height: 21px;
          font-size: 14px;
          transition: all 1.1s ease-in-out;
          &:before {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 50%;

            transform: translateX(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: #191919 transparent transparent;
            display: block;
          }
        }
        .progress {
          height: 5px;
          background-color: #444;
          border-radius: 0;
          margin-bottom: 0;
          box-shadow: 0 1px 25px 1px #231a1d;
        }
        h3 {
          margin: 10px 0 0;
          font-size: 18px;
          font-family: "Open Sans", sans-serif;
          color: #a99f9f;
          letter-spacing: 1px;
          font-weight: 400;
        }
      }
    }
    .rightandtop {
      .html {
        .precent {
          left: calc(95% - 15px);
        }
        .progress {
          .progressPar {
            width: 95%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
      .css {
        .precent {
          left: calc(80% - 15px);
        }
        .progress {
          .progressPar {
            width: 80%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
      .jquery {
        .precent {
          left: calc(90% - 15px);
        }
        .progress {
          .progressPar {
            width: 90%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
    }
    .leftandbottom {
      .javaScri {
        .precent {
          left: calc(75% - 15px);
        }
        .progress {
          .progressPar {
            width: 75%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
      .php {
        .precent {
          left: calc(89% - 15px);
        }
        .progress {
          .progressPar {
            width: 89%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
      .wordpress {
        .precent {
          left: calc(85% - 15px);
        }
        .progress {
          .progressPar {
            width: 85%;
            height: 100%;
            background-color: #cf9c63;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .row {
      flex-direction: column;
      gap: 0;
      > div {
        width: 100%;
      }
    }
  }
}

.services {
  padding-bottom: 90px;
  .container {
    .content {
      display: flex;

      flex-wrap: wrap;
      > div {
        width: calc(33.333% - 30px);
        padding: 38px 20px;
        border-left: 3px solid #272525;
        border-bottom: 3px solid #272525;
        box-shadow: 0 0 15px 0 #231a1d;
        margin-bottom: 30px;
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        .head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 25px;
          .text {
            color: #cf9c63;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
            font-family: "Raleway", sans-serif;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 0;
              display: inline-block;
              width: 50px;
              height: 1px;
              background-color: #2d2a2a;
            }
          }
          .icon {
            box-shadow: 0 0 14px 0 rgb(0 0 0 / 40%);
            transform: rotate(45deg);
            background-color: #2d2a2a;
            color: #bfbebe;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            i {
              transform: rotate(-45deg);
            }
          }
        }
        p {
          line-height: 1.8;
          letter-spacing: 0.5px;
          margin: 0 0 10px;
          color: #bfbebe;
          font-size: 14px;
        }
      }
      @media (min-width: 767px) and (max-width: 991px) {
        .wepdesign,
        .wepdevelopment,
        .photography {
          margin-left: 0;
        }
        .pranding,
        .graphic,
        .creativity {
          margin-right: 0;
        }
        > div {
          width: calc(50% - 15px);
        }
      }
      @media (max-width: 767px) {
        > div {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}

.resume {
  background-color: #2d2a2a;
  .content {
    display: flex;

    .education {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px;
      .title {
        position: relative;
        left: -9px;
        margin-bottom: 20px;
        i {
          color: #cf9c63;
          margin-right: 10px;
          vertical-align: middle;
          font-size: 2em;
        }
        h3 {
          display: inline-block;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          margin: 0;
          vertical-align: middle;
          letter-spacing: 1px;
        }
      }
      .detail {
        position: relative;
        padding: 40px 0;
        padding-left: 25px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 3px;
          height: 100%;
          width: 3px;
          border: 1.7px solid #312e2e;
          background-color: #312e2e;
          border-radius: 6px;
          box-shadow: 0 1px 25px 1px #231f21;
        }
      }
      .Bachelor,
      .Master {
        margin-bottom: 30px;
        .year {
          position: relative;
          display: inline-block;
          border: 3px solid #312e2e;
          border-radius: 4px;
          padding: 4px 18px;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 0.5px;
          box-shadow: 0 1px 25px 1px #231f21;
          color: #bfbebe;
          font-family: "Open Sans", sans-serif;
          &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%) rotate(45deg);
            background-color: #191919;
          }
          &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #cf9c63;
            transform: translateY(-50%) rotate(45deg);
            left: -25px;
            top: 50%;
          }
        }
        .resume-details {
          position: relative;
          border-right: 3px solid #312e2e;
          border-bottom: 3px solid #312e2e;
          border-radius: 4px;
          padding: 20px;
          box-shadow: 0 1px 25px 1px #231f21;
          .head {
            h4 {
              display: inline-block;
              color: #cf9c63;
              font-weight: 600;
              letter-spacing: 0.5px;
              font-family: "Open Sans", sans-serif;
            }
            i {
              position: absolute;
              right: 8px;
              top: 18px;
              color: #383535;
              font-size: 2em;
            }
          }
          p {
            line-height: 1.8;
            padding-top: 15px;
            border-top: 1px solid #312e2e;
            margin: 0;
            margin-top: 15px;
            font-size: 13px;
            color: #bfbebe;
            font-family: "Open Sans", sans-serif;
          }
        }
      }
    }
    .experience {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px;
      .title {
        position: relative;
        left: -9px;
        margin-bottom: 20px;
        i {
          color: #cf9c63;
          margin-right: 10px;
          vertical-align: middle;
          font-size: 2em;
        }
        h3 {
          display: inline-block;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          margin: 0;
          vertical-align: middle;
          letter-spacing: 1px;
        }
      }
      .detail {
        position: relative;
        padding: 40px 0;
        padding-left: 25px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 3px;
          height: 100%;
          width: 3px;
          border: 1.7px solid #312e2e;
          background-color: #312e2e;
          border-radius: 6px;
          box-shadow: 0 1px 25px 1px #231f21;
        }
      }
      .uxui,
      .frontend {
        margin-bottom: 30px;

        .year {
          position: relative;
          display: inline-block;
          border: 3px solid #312e2e;
          border-radius: 4px;
          padding: 4px 18px;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 0.5px;
          box-shadow: 0 1px 25px 1px #231f21;
          color: #bfbebe;
          font-family: "Open Sans", sans-serif;
          &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            left: -30px;
            transform: translateY(-50%) rotate(45deg);
            background-color: #191919;
          }
          &::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #cf9c63;
            transform: translateY(-50%) rotate(45deg);
            left: -25px;
            top: 50%;
          }
        }
        .resume-details {
          position: relative;
          border-right: 3px solid #312e2e;
          border-bottom: 3px solid #312e2e;
          border-radius: 4px;
          padding: 20px;
          box-shadow: 0 1px 25px 1px #231f21;
          .head {
            h4 {
              display: inline-block;
              color: #cf9c63;
              font-weight: 600;
              letter-spacing: 0.5px;
              font-family: "Open Sans", sans-serif;
              max-width: 90%;
            }
            i {
              position: absolute;
              right: 8px;
              top: 18px;
              color: #383535;
              font-size: 2em;
            }
          }
          p {
            line-height: 1.8;
            padding-top: 15px;
            border-top: 1px solid #312e2e;
            margin: 0;
            margin-top: 15px;
            font-size: 13px;
            color: #bfbebe;
            font-family: "Open Sans", sans-serif;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .content {
      flex-direction: column;
      .education,
      .experience {
        width: 100%;
        padding: 0;
      }
    }
  }
  .download {
    display: flex;
    padding: 50px 0 0 0;

    justify-content: center;
    a {
      // width: 150px;
      box-shadow: 0 1px 25px 1px #231f21;
      background-color: #2d2a2a;
      color: #bfbebe;

      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;

      letter-spacing: 1px;

      padding: 12px 16px;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      span {
        position: relative;
        z-index: 2;
      }
      &:before {
        content: "";
        background-color: #cf9c63;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        z-index: 1;
        transform: translate(-50%, -50%) scale(0) rotate(45deg);
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        color: white;
        &:before {
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
        }
      }
    }
  }
}

.portfolio {
  .category {
    margin: 0 auto 50px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    max-width: 100%;
    justify-content: center;
    li {
      margin-bottom: 10px;
      font-weight: 400;
      border-top: 3px solid #312e2e;
      letter-spacing: 0.4px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      font-size: 14px;
      padding: 12px 20px;
      margin-left: 3px;
      box-shadow: 0 1px 25px 1px #231a1d;
      color: #bfbebe;

      &:first-child {
        margin-left: 0px;
      }
      &:before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #cf9c63;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
      }
      &.active {
        border-top: 3px solid #312e2e;
        color: #cf9c63;
        &:before {
          transform: scale(1);
        }
      }
    }
    @media (max-width: 575px) {
      li {
        padding: 12px 10px;
      }
    }
  }
}

.portfolioContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  .item {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
    .overlay {
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      overflow: hidden;
      background-color: rgba(35, 34, 34, 0.93);
      transform: perspective(700px) rotateY(-90deg);
      h4 {
        position: relative;
        top: 40px;
        left: 50%;
        font-family: "Raleway", sans-serif;
        transform: translateX(-50%);
        display: inline-block;
        margin: 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 500;
        color: #fff;
        &:before {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #cf9c63;
          transform: scale(0);
          transition: all 0.5s ease-in-out;
        }
      }
      .linkk {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #232222;
        color: #cf9c63;
        text-align: center;
        transform: translate(-50%, -50%) rotate(45deg);
        i {
          transform: rotate(-45deg);
          font-size: 16px;
        }
      }
      span {
        position: absolute;
        bottom: 13px;
        right: 35px;
        display: inline-block;
        padding: 6px 12px;
        background-color: #2d2a2a;
        border-right: 2px solid #312e2e;
        border-bottom: 2px solid #312e2e;
        border-radius: 4px;
        text-align: center;
        color: #cf9c63;
        box-shadow: 0 1px 25px 1px #231a1d;
        letter-spacing: 0.5px;
        &::before {
          content: "";
          position: absolute;
          bottom: 14px;
          right: -22px;
          display: inline-block;
          width: 20px;
          height: 4px;
          background-color: #2d2a2a;
          transform: scale(0);
        }
      }
    }
    &:hover {
      span {
        &::before {
          transform: scale(1);
        }
      }
      .overlay {
        visibility: visible;
        transform: perspective(700px) rotateY(0deg);
        h4 {
          &:before {
            transform: scale(1);
          }
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .portfolioContent {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
