* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: white;
  --black: black;
  --subcolor-orange: #cf9c63;
  --subcolor-balck: #232222;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 3000px;
}

ul {
  list-style: none;
}

/* container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}

@keyframes headborder {
  from {
    width: calc(100% + 14px);
  }
  to {
    width: 100%;
  }
}
header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  height: 100px;
  -webkit-box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.3764705882);
          box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.3764705882);
}

.headcontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.headcontain .name a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
.headcontain .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.headcontain .navfordesk ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 14px;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .navfordesk ul a li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
}
.headcontain .navfordesk ul a .borderc {
  position: absolute;
  height: calc(100% + 5px);
  width: 100%;
}
.headcontain .navfordesk ul a .borderc:hover {
  -webkit-animation: headborder 0.6s;
          animation: headborder 0.6s;
  border-top: 4px double var(--subcolor-orange);
  border-bottom: 4px double var(--subcolor-orange);
  border-radius: 10px;
}
.headcontain .navfordesk ul a .borderc:hover ~ li {
  color: var(--subcolor-orange);
}
@media (max-width: 991px) {
  .headcontain .navfordesk ul a {
    padding: 11px;
  }
}
@media (max-width: 767px) {
  .headcontain .navfordesk {
    display: none;
  }
}
.headcontain .burger {
  display: none;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin: 7px 0;
  z-index: 2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.headcontain .burger .bar {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.headcontain .burger .bar:nth-child(2) {
  margin: 6px 0;
}
@media (max-width: 767px) {
  .headcontain .burger {
    display: block;
  }
}
.headcontain .navformop {
  visibility: hidden;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 70px;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.headcontain .navformop .disablesubBLog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .disablesubBLog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .disablesubBLog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .disablesubBLog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .disablesubBLog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .disablesubBLog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .disablesubBLog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .disablesubBLog .downtoshowsub {
  top: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.headcontain .navformop .disablesubBLog .BLogmain {
  position: relative;
}
.headcontain .navformop .disablesubBLog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: -54px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .disablesubBLog .BLogmain .submain-links li:last-child a {
  border: none;
}
.headcontain .navformop .enablesubBlog {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: -300px;
  background: var(--subcolor-balck);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 100%;
  gap: 0;
}
.headcontain .navformop .enablesubBlog > li {
  z-index: 5;
  position: relative;
  display: block;
}
.headcontain .navformop .enablesubBlog > li a {
  padding: 17px 28px;
  display: block;
  border-top: 1px solid #343030;
  background-color: var(--subcolor-balck);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.headcontain .navformop .enablesubBlog > li a:hover {
  background-color: #2d2a2a;
  color: #cf9c63;
  border-radius: 0;
}
.headcontain .navformop .enablesubBlog > li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.headcontain .navformop .enablesubBlog > li a::before {
  z-index: 2;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cf9c63;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.headcontain .navformop .enablesubBlog > li:last-child a {
  border-bottom: 1px solid #343030;
}
.headcontain .navformop .enablesubBlog .downtoshowsub {
  top: 104.8px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.headcontain .navformop .enablesubBlog .BLogmain {
  position: relative;
}
.headcontain .navformop .enablesubBlog .BLogmain > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  top: 53px;
  z-index: 3;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #2d2c2c;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li {
  z-index: 3;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a {
  border: none;
  padding-left: 35px;
  font-weight: 400;
  background: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover {
  padding-left: 40px;
  color: #cf9c63;
  background-color: #2d2c2c;
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.headcontain .navformop .enablesubBlog .BLogmain .submain-links li:last-child a {
  border: none;
}

.menu-active .burger .bar:first-child {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.menu-active .burger .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-active .burger .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../image/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.landing .layout {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
}
.landing .margcont {
  overflow: hidden;
}
.landing .marg {
  top: 0;
  position: absolute;
  height: 100%;
  max-width: 100%;
  margin-left: 14vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.landing .marg .hi {
  color: #bfbebe;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .marg .name {
  color: #fff;
  font-size: 87px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 10px 0;
}
.landing .marg .iam {
  color: #bfbebe;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .marg .iam .changedTiltle {
  color: #cf9c63;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}
.landing .marg a {
  width: 130px;
  color: #fff;
  background-color: #cf9c63;
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 16px;
  margin-top: 50px;
}
.landing .marg a span {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landing .marg a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-color: #232222;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(45deg);
          transform: translate(-50%, -50%) scale(0) rotate(45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.landing .marg a:hover {
  color: var(--subcolor-orange);
}
.landing .marg a:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(45deg);
          transform: translate(-50%, -50%) scale(1) rotate(45deg);
}
@media (max-width: 991px) {
  .landing .marg {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .landing .marg .name {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .landing .marg .name {
    font-size: 54px;
  }
  .landing .marg .iam {
    font-size: 19px;
    letter-spacing: 0;
  }
}
.landing .divider {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
}
.landing .divider .wave {
  width: 100%;
  height: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

section {
  background-color: #232222;
  padding: 70px 0 120px;
  color: #fff;
  width: 100%;
}
section .mainhead {
  margin-bottom: 20px;
  padding-bottom: 80px;
  text-align: center;
}
section .mainhead h2 {
  display: inline-block;
  position: relative;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
section .mainhead h2 span {
  position: absolute;
  bottom: -19px;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #191919;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  -webkit-box-shadow: 0 1px 25px 1px #231a1d;
          box-shadow: 0 1px 25px 1px #231a1d;
}
section .mainhead h2 span:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #cf9c63;
}
section .mainhead h2:before {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 38%;
  left: 0;
  height: 2px;
  background-color: #191919;
}
section .mainhead h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;
  width: 38%;
  height: 2px;
  background-color: #191919;
}

.about-me .aboutme-content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me .aboutme-content .image .about-image {
  position: relative;
}
.about-me .aboutme-content .image .about-image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgb(207, 156, 99)), to(#fff));
  background: linear-gradient(to right, rgb(207, 156, 99) 5%, #fff 100%);
}
.about-me .aboutme-content .image .about-image img {
  position: relative;
  border-radius: 6px;
  max-width: 350px;
  width: 100%;
  height: auto;
  vertical-align: middle;
  z-index: 5;
  top: 40px;
  left: 30px;
}
@media (max-width: 570px) {
  .about-me .aboutme-content .image .about-image img {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-me .aboutme-content .image .about-image {
    width: 100%;
    max-width: 500px;
  }
  .about-me .aboutme-content .image .about-image img {
    max-width: 500px;
  }
}
.about-me .aboutme-content .ContentandText {
  position: relative;
}
.about-me .aboutme-content .ContentandText .about-info {
  margin-top: 40px;
  color: #bfbebe;
}
.about-me .aboutme-content .ContentandText .about-info h3 {
  color: #cf9c63;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 0.75;
  margin: 0;
  margin-top: 45px;
}
.about-me .aboutme-content .ContentandText .about-info h4 {
  margin-top: 10px;
  line-height: 1.3;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.about-me .aboutme-content .ContentandText .about-info p {
  line-height: 1.8;
  margin-bottom: 10px;
  font-size: 13px;
}
.about-me .aboutme-content .ContentandText .about-info p {
  font-size: 13px;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info {
  -webkit-box-shadow: 0 1px 25px 1px #231a1d;
          box-shadow: 0 1px 25px 1px #231a1d;
  margin-top: 30px;
  position: relative;
  border: 3px solid #272525;
  margin-right: 0;
  padding: 20px 15px;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li {
  font-size: 12px;
  line-height: 3;
  position: relative;
  width: 100%;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li .point {
  display: none;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li span {
  margin-left: 0;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li span.main-cat {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0px;
}
@media (min-width: 570px) {
  .about-me .aboutme-content .ContentandText .about-info .personal-info .info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li {
    margin-left: 20px;
    max-width: calc(50% - 20px);
  }
  .about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li .point {
    display: block;
    position: absolute;
    left: -20px;
    width: 15px;
    height: 15px;
    top: 50%;
    background-color: #191919;
    -webkit-transform: translateX(-50%) translatey(-50%) rotate(45deg);
            transform: translateX(-50%) translatey(-50%) rotate(45deg);
    -webkit-box-shadow: 0 1px 25px 1px #231a1d;
            box-shadow: 0 1px 25px 1px #231a1d;
  }
  .about-me .aboutme-content .ContentandText .about-info .personal-info .info ul li .point::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: #cf9c63;
  }
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons {
  position: static;
  text-align: center;
  margin-top: 14px;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 14px;
  margin-bottom: 14px;
  -webkit-box-shadow: 0 0 15px 0 #231a1d;
          box-shadow: 0 0 15px 0 #231a1d;
  text-align: center;
  background-color: #191919;
  color: #3a3c3c;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons .face:hover {
  background-color: #3b5998;
  color: #fff;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons .twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons .googleblus:hover {
  background-color: #db4437;
  color: #fff;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons .linked:hover {
  background-color: #0077b5;
  color: #fff;
}
.about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons .behance:hover {
  background-color: #0057ff;
  color: #fff;
}
@media (min-width: 570px) {
  .about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons {
    margin-top: 0px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -19px;
  }
  .about-me .aboutme-content .ContentandText .about-info .personal-info .social-icons a {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 0px;
    line-height: 31px;
    font-size: 15px;
    margin-bottom: 4px;
  }
}
@media (min-width: 570px) {
  .about-me .aboutme-content .ContentandText .about-info .personal-info {
    padding: 33px 20px;
  }
}

@media (min-width: 991px) {
  .about-me .aboutme-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }
  .about-me .aboutme-content .image {
    width: 38%;
    height: 100%;
  }
  .about-me .aboutme-content .image .about-image img {
    max-width: 500px;
  }
  .about-me .aboutme-content .ContentandText {
    width: 62%;
  }
}
.MySkills {
  background-image: url(../image/skills.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;
  position: relative;
}
.MySkills .overlaySkills {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}
.MySkills .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.MySkills .row > div {
  width: 50%;
}
.MySkills .row > div > div {
  padding-top: 34px;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  min-width: 50%;
}
.MySkills .row > div > div .precent {
  position: absolute;
  top: 0;
  left: -15px;
  display: inline-block;
  width: 30px;
  height: 20px;
  color: #cf9c63;
  background: #191919;
  text-align: center;
  line-height: 21px;
  font-size: 14px;
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}
.MySkills .row > div > div .precent:before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #191919 transparent transparent;
  display: block;
}
.MySkills .row > div > div .progress {
  height: 5px;
  background-color: #444;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 25px 1px #231a1d;
          box-shadow: 0 1px 25px 1px #231a1d;
}
.MySkills .row > div > div h3 {
  margin: 10px 0 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #a99f9f;
  letter-spacing: 1px;
  font-weight: 400;
}
.MySkills .row .rightandtop .html .precent {
  left: calc(95% - 15px);
}
.MySkills .row .rightandtop .html .progress .progressPar {
  width: 95%;
  height: 100%;
  background-color: #cf9c63;
}
.MySkills .row .rightandtop .css .precent {
  left: calc(80% - 15px);
}
.MySkills .row .rightandtop .css .progress .progressPar {
  width: 80%;
  height: 100%;
  background-color: #cf9c63;
}
.MySkills .row .rightandtop .jquery .precent {
  left: calc(90% - 15px);
}
.MySkills .row .rightandtop .jquery .progress .progressPar {
  width: 90%;
  height: 100%;
  background-color: #cf9c63;
}
.MySkills .row .leftandbottom .javaScri .precent {
  left: calc(75% - 15px);
}
.MySkills .row .leftandbottom .javaScri .progress .progressPar {
  width: 75%;
  height: 100%;
  background-color: #cf9c63;
}
.MySkills .row .leftandbottom .php .precent {
  left: calc(89% - 15px);
}
.MySkills .row .leftandbottom .php .progress .progressPar {
  width: 89%;
  height: 100%;
  background-color: #cf9c63;
}
.MySkills .row .leftandbottom .wordpress .precent {
  left: calc(85% - 15px);
}
.MySkills .row .leftandbottom .wordpress .progress .progressPar {
  width: 85%;
  height: 100%;
  background-color: #cf9c63;
}
@media (max-width: 767px) {
  .MySkills .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .MySkills .row > div {
    width: 100%;
  }
}